body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main{

  border-radius: 4px;
  background-color: #30336b;
   min-height: 600px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   margin-top: 50px;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.todoHeading{
   text-align: center;
   width: 100%;
}
h1{
    color: rgb(221, 197, 180);
    font-family: 'Amatic SC', sans-serif;
    margin-top: 20px;
}
.todo_input{
    height: 32px;
    width: 280px;
    border-radius:2px;
    padding: 4px;
    outline: none;
    background-color: blanchedalmond;
    font-size: 17px;
    border-style: none;
    color:black;
    padding-left: 10px;
    font-family: 'Nova Square', sans-serif;
    position: relative;
    left: 8px;


}
.addCircle{
    width: 40px;
     height: 40px;
   position: relative;
   bottom: 2px;
   left: 8px;
   color: white;

}


